
body{
    font-family: 'M PLUS Rounded 1c', sans-serif; 
}

/*header*/
#header{
    background-color: #F5F5F5;
    width: 100%;
    height: 150px;
    text-align: center;
}

#header nav {
    text-align: center;

}

/*navigation*/
nav {
    position: absolute;
    left: 0px;
    height: 40px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

}
nav ul li {
    margin: 0;
    padding: 0;
    float: left;
    text-align: center;
}
nav ul li a {
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    color: black;
    text-align: center;
}
nav ul li a:hover{
    color: gray;
}
nav ul li a.active {
    border-bottom: 3px solid gray;
}


/*main*/
h1{
    padding-top: 2%;
    font-family: 'Raleway', sans-serif;
}

main{
    height:600px;
}

/*spezielle main grössen*/
.mainbilder{
    height: 1100px;
}
.videomain{
    height: 800px;
}

.main-home{
    margin: 0 auto;
}


/*
.img-thumbnail{

    boder: green;
}

 */


/*footer*/
footer{
    background-color: #F5F5F5;
    width: 100%;
    height: 150px;
    text-align: center;
}
.card-body{
    text-align:center;
    font: black;
    background-color: #F5F5F5;
}

.card-title{
    color: black;
}
.card-text{
    color: black;
}
a.btn.btn-primary{
    background-color: black;
    width: 200px;
}

.card-header{
text-align:center;
color: black;
}

/*befehle für den text home*/
.text-home{
   margin-top: 5%;
}
.text-home p{
text-align:center;
margin-bottom: 0%;
 }


/*befehle für den text bilder*/
.text-bilder{
    margin-top: 5%;
 }
 .text-bilder p{
 text-align:center;
 margin-bottom: 0%;
  }

/*befehle für den text video*/
.text-video{
    margin-top: 5%;
 }
 .text-video p{
 text-align:center;
 margin-bottom: 0%;
  }

/*befehle für den text audio*/
  .text-audio{
    margin-top: 5%;
 }
 .text-audio p{
 text-align:center;
 margin-bottom: 0%;
  }

/*audio feld*/
  #audio{
    width: 30%;
    margin: 0 auto;
    margin-left:35%;
    margin-top: 5%;
  }

/*sound icon*/
.audioimg{
    height: 75px;
    margin: 0 auto;
    margin-top: 5%;
}

/*bootstrap*/
.titelbtst{
    display: inline-flex !important;
}
.navbtst{
    justify-content: center;
}
.textbts{
    display: inline-flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
}

.videobts{
    justify-content: center;
}